<a href="https://colab.research.google.com/github/nithin-k-mundrathi/python_practice/blob/main/Data_Structures/Arrays_TUF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Arrays

## 1. Largest Element in an Array

In [ ]:
list_1 = [2,5,1,3,0]
max = -10000000
for i in range(len(list_1)):
  if max < list_1[i]:
    max = list_1[i]
max

5

# 2. Second Largest Element in an Array

In [ ]:
max1 = -100000000
max2 = -100000000

list_1 = [2,5,1,3,0]
for i in range(len(list_1)):
  if  list_1[i] > max1:
    max2 = max1
    max1 = list_1[i]
  else:
    if (list_1[i] > max2) and (list_1[i] != max1):
      max2 = list_1[i]
max1,max2

(5, 3)

# 3. Check if an Array is Sorted

In [ ]:
a = [2,5,1,3,0]
for i in range(len(a)-1):
  if a[i] >= a[i+1]:
    print(False)
    break

False

# 4. Remove Duplicates From sorted Array

In [1]:
a = [1,2,2,3,3,3,4,5,5]
a_d = [1,2,2,3,3,3,4,5]
for i in range(len(a)-1):
  print(i)
  if a[i] ==a[i+1]:
    a_d.remove(a[i+1])

print(a,a_d)

0
1
2
3
4
5
6
7
[1, 2, 2, 3, 3, 3, 4, 5, 5] [1, 2, 3, 4]

# 5. LEft Rotate an array by D  Place

In [ ]:
a_d = [1, 2, 3, 4, 5]

In [ ]:
a_d.insert(0,0)
a_d

[0, 1, 2, 3, 4, 5]

In [ ]:
a_d = [1, 2, 3, 4, 5]
for i in range(3):
  for i in range(len(a_d)):
    if i==0:
      e = a_d[i]
    else:
      a_d[i-1] = a_d[i]

  a_d[len(a_d)-1]= e
a_d

[4, 5, 1, 2, 3]

In [ ]:
d =3
a_d = [1, 2, 3, 4, 5]
n = len(a_d) -1
for i in range(n):

  temp = a[d:]

In [10]:
# Left rotate
def rev(a,start,end):
  while start <=end:
    a[start], a[end] = a[end], a[start]
    start+=1
    end-=1
  return a
d =3
a = [1, 2, 3, 4, 5]
n = len(a)
a = rev(a,0,d-1)
print(a)
a = rev(a,d,n-1)
print(a)
rev(a,0,n-1)
a

[3, 2, 1, 4, 5]
[3, 2, 1, 5, 4]

[4, 5, 1, 2, 3]

In [11]:
# right rotate
def rev(a,start,end):
  while start <=end:
    a[start], a[end] = a[end], a[start]
    start+=1
    end-=1

  return a
d =3
a = [1, 2, 3, 4, 5]
n = len(a)
a = rev(a,0,n-1)
print(a)
a = rev(a,0,d-1)
print(a)
a = rev(a,d,n-1)
print(a)

[5, 4, 3, 2, 1]
[3, 4, 5, 2, 1]
[3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

# Lineasr Search

In [ ]:
a_d = [1, 2, 3, 4, 5]
s = 4
for i in range(len(a_d)):

  if a_d[i] == s:
    print('found',i)

a_d

found 3

[1, 2, 3, 4, 5]

# Find the missing number in an array

# Two Sum problem

In [ ]:
a_d = [1, 2, 3, 4, 5]
s = 4
start = 0
end = len(a_d) - 1
for i in range(len(a_d)):
  if a_d[start] + a_d[end] == s:
    print('found',i,start,end)
    break
  elif a_d[start] + a_d[end] < s:
    start = start+1
  else:
    end = end-1

a_d

found 2 0 2

[1, 2, 3, 4, 5]

# Count Maximum Consecutive One's in the array

In [ ]:
a = [1,1,0,1,1,1]
count =0
for i in range(len(a)-1):
  if (a[i] ==a[i+1]) and (a[i] ==1):
    count = count +1
  else:
    count =0

count+1

3

# Find the missing number in an array

In [ ]:
a = [1,2,4,5]
n = len(a)
sum_1 = int(n*(n+1)/2)

# Move all Zeros to the end of the array

In [12]:
a = [1 ,0 ,2 ,3,2 ,0 ,4,5 ,0 ,1]
start = 0
end= 1

for i in range(end,len(a)):
  if (a[i] != 0) :
    temp = a[i]
    a[i] = a[end]
    a[end] = temp
    end = end+1
  print(a,i, end)
a

[1, 0, 2, 3, 2, 0, 4, 5, 0, 1] 1 1
[1, 2, 0, 3, 2, 0, 4, 5, 0, 1] 2 2
[1, 2, 3, 0, 2, 0, 4, 5, 0, 1] 3 3
[1, 2, 3, 2, 0, 0, 4, 5, 0, 1] 4 4
[1, 2, 3, 2, 0, 0, 4, 5, 0, 1] 5 4
[1, 2, 3, 2, 4, 0, 0, 5, 0, 1] 6 5
[1, 2, 3, 2, 4, 5, 0, 0, 0, 1] 7 6
[1, 2, 3, 2, 4, 5, 0, 0, 0, 1] 8 6
[1, 2, 3, 2, 4, 5, 1, 0, 0, 0] 9 7

[1, 2, 3, 2, 4, 5, 1, 0, 0, 0]

# Union of two sorted arrays

In [ ]:
a = [1,2,3,4,5]
b= [2,3,4,5]
c = []
i=0
j=0
while i <len(a) and j < len(b):

  if a[i] < b[j]:
    c.append(a[i])
    i = i+1

  if a[i] > b[j]:
    c.append(b[j])
    j = j+1
  if a[i] == b[j]:
    c.append(a[i])
    c.append(b[j])
    i=i+1
    j = j+1
  print(c)

while i < len(a):
  c.append(a[i])
  i = i+1

while j < len(b):
  c.append(b[j])
  j = j+1
print(c)

[1, 2, 2]
[1, 2, 2, 3, 3]
[1, 2, 2, 3, 3, 4, 4]
[1, 2, 2, 3, 3, 4, 4, 5, 5]
[1, 2, 2, 3, 3, 4, 4, 5, 5]

In [ ]:



from typing import List

def getLongestSubarray(a: [int], k: int) -> int:
    n = len(a) # size of the array.

    length = 0
    for i in range(n): # starting index
        s = 0
        for j in range(i, n): # ending index
            # add the current element to
            # the subarray a[i...j-1]:
            s += a[j]

            if s == k:
                length = max(length, j - i + 1)
    return length

if __name__ == '__main__':
    a = [2, 3, 5, 1, 9]
    k = 12
    len = getLongestSubarray(a, k)
    print("The length of the longest subarray is:", len)

The length of the longest subarray is: 0

# Medium

## majority element

In [ ]:
a = [2,2,1,1,1,2,2]

ele =2
count =0
for i in range(len(a)):
  if a[i] == ele:
    count += 1
  if count >= int(len(a)/2):
    print(ele, 'occurs more than {}/2'.format(len(a)))
    break

2 occurs more than 7/2

In [ ]:
a  = [2,0,2,1,1,0,2,0,1,2,0,2,1,0,2,1,2,2]
l = 0
m =0
h =len(a)-1

while m <= h:
  if a[m] == 0:
    a[l],a[m] = a[m],a[l]
    l = l+1
    m =m+1
  elif a[m]==1:
    m = m+1
  else:
    a[m],a[h] = a[h],a[m]
    h =h-1

print(a,l,m,h)

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2] 5 10 9