<a href="https://colab.research.google.com/github/nithin-k-mundrathi/python_practice/blob/main/Data_Structures/Arrays_TUF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Arrays

## 1. Largest Element in an Array

In [ ]:
list_1 = [2,5,1,3,0]
max = -10000000
for i in range(len(list_1)):
  if max < list_1[i]:
    max = list_1[i]
max

5

# 2. Second Largest Element in an Array

In [ ]:
max1 = -100000000
max2 = -100000000

list_1 = [2,5,1,3,0]
for i in range(len(list_1)):
  if  list_1[i] > max1:
    max2 = max1
    max1 = list_1[i]
  else:
    if (list_1[i] > max2) and (list_1[i] != max1):
      max2 = list_1[i]
max1,max2

(5, 3)

# 3. Check if an Array is Sorted

In [ ]:
a = [2,5,1,3,0]
for i in range(len(a)-1):
  if a[i] >= a[i+1]:
    print(False)
    break

False

# 4. Remove Duplicates From sorted Array

In [ ]:
a = [1,2,2,3,3,3,4,5,5]
a_d = [1,2,2,3,3,3,4,5]
for i in range(len(a)-1):
  print(i)
  if a[i] ==a[i+1]:
    a_d.remove(a[i+1])

print(a,a_d)

0
1
2
3
4
5
6
7
[1, 2, 2, 3, 3, 3, 4, 5, 5] [1, 2, 3, 4]

# 5. LEft Rotate an array by D  Place

In [ ]:
a_d = [1, 2, 3, 4, 5]

In [ ]:
a_d.insert(0,0)
a_d

[0, 1, 2, 3, 4, 5]

In [ ]:
a_d = [1, 2, 3, 4, 5]
for i in range(3):
  for i in range(len(a_d)):
    if i==0:
      e = a_d[i]
    else:
      a_d[i-1] = a_d[i]

  a_d[len(a_d)-1]= e
a_d

[4, 5, 1, 2, 3]

In [ ]:
d =3
a_d = [1, 2, 3, 4, 5]
n = len(a_d) -1
for i in range(n):

  temp = a[d:]

In [ ]:
# Left rotate
def rev(a,start,end):
  while start <=end:
    a[start], a[end] = a[end], a[start]
    start+=1
    end-=1
  return a
d =3
a = [1, 2, 3, 4, 5]
n = len(a)
a = rev(a,0,d-1)
print(a)
a = rev(a,d,n-1)
print(a)
rev(a,0,n-1)
a

[3, 2, 1, 4, 5]
[3, 2, 1, 5, 4]

[4, 5, 1, 2, 3]

In [ ]:
# right rotate
def rev(a,start,end):
  while start <=end:
    a[start], a[end] = a[end], a[start]
    start+=1
    end-=1

  return a
d =3
a = [1, 2, 3, 4, 5]
n = len(a)
a = rev(a,0,n-1)
print(a)
a = rev(a,0,d-1)
print(a)
a = rev(a,d,n-1)
print(a)

[5, 4, 3, 2, 1]
[3, 4, 5, 2, 1]
[3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

# Lineasr Search

In [ ]:
a_d = [1, 2, 3, 4, 5]
s = 4
for i in range(len(a_d)):

  if a_d[i] == s:
    print('found',i)

a_d

found 3

[1, 2, 3, 4, 5]

# Find the missing number in an array

# Two Sum problem

In [ ]:
a_d = [1, 2, 3, 4, 5]
s = 4
start = 0
end = len(a_d) - 1
for i in range(len(a_d)):
  if a_d[start] + a_d[end] == s:
    print('found',i,start,end)
    break
  elif a_d[start] + a_d[end] < s:
    start = start+1
  else:
    end = end-1

a_d

found 2 0 2

[1, 2, 3, 4, 5]

# Count Maximum Consecutive One's in the array

In [ ]:
a = [1,1,0,1,1,1]
count =0
for i in range(len(a)-1):
  if (a[i] ==a[i+1]) and (a[i] ==1):
    count = count +1
  else:
    count =0
count+1

3

# Find the missing number in an array

In [ ]:
a = [1,2,4,5]
n = len(a)
sum_1 = int(n*(n+1)/2)

# Move all Zeros to the end of the array

In [ ]:
a = [1 ,0 ,2 ,3,2 ,0 ,4,5 ,0 ,1]
start = 0
end= 1

for i in range(end,len(a)):
  if (a[i] != 0) :
    temp = a[i]
    a[i] = a[end]
    a[end] = temp
    end = end+1
  print(a,i, end)
a

[1, 0, 2, 3, 2, 0, 4, 5, 0, 1] 1 1
[1, 2, 0, 3, 2, 0, 4, 5, 0, 1] 2 2
[1, 2, 3, 0, 2, 0, 4, 5, 0, 1] 3 3
[1, 2, 3, 2, 0, 0, 4, 5, 0, 1] 4 4
[1, 2, 3, 2, 0, 0, 4, 5, 0, 1] 5 4
[1, 2, 3, 2, 4, 0, 0, 5, 0, 1] 6 5
[1, 2, 3, 2, 4, 5, 0, 0, 0, 1] 7 6
[1, 2, 3, 2, 4, 5, 0, 0, 0, 1] 8 6
[1, 2, 3, 2, 4, 5, 1, 0, 0, 0] 9 7

[1, 2, 3, 2, 4, 5, 1, 0, 0, 0]

# Union of two sorted arrays

In [ ]:
a = [1,2,3,4,5]
b= [2,3,4,5]
c = []
i=0
j=0
while i <len(a) and j < len(b):

  if a[i] < b[j]:
    c.append(a[i])
    i = i+1

  if a[i] > b[j]:
    c.append(b[j])
    j = j+1
  if a[i] == b[j]:
    c.append(a[i])
    c.append(b[j])
    i=i+1
    j = j+1
  print(c)

while i < len(a):
  c.append(a[i])
  i = i+1

while j < len(b):
  c.append(b[j])
  j = j+1
print(c)

[1, 2, 2]
[1, 2, 2, 3, 3]
[1, 2, 2, 3, 3, 4, 4]
[1, 2, 2, 3, 3, 4, 4, 5, 5]
[1, 2, 2, 3, 3, 4, 4, 5, 5]

# Longest Subarray with Sum K

In [ ]:
from typing import List

def getLongestSubarray(a: [int], k: int) -> int:
    n = len(a) # size of the array.

    length = 0
    for i in range(n): # starting index
        s = 0
        for j in range(i, n): # ending index
            # add the current element to
            # the subarray a[i...j-1]:
            s += a[j]

            if s == k:
                length = max(length, j - i + 1)
    return length

if __name__ == '__main__':
    a = [2, 3, 5, 1, 9]
    k = 12
    len = getLongestSubarray(a, k)
    print("The length of the longest subarray is:", len)

The length of the longest subarray is: 0

# Medium

## majority element

In [ ]:
a = [2,2,1,1,1,2,2]

ele =2
count =0
for i in range(len(a)):
  if a[i] == ele:
    count += 1
  if count >= int(len(a)/2):
    print(ele, 'occurs more than {}/2'.format(len(a)))
    break

2 occurs more than 7/2

In [ ]:
a  = [2,0,2,1,1,0,2,0,1,2,0,2,1,0,2,1,2,2]
l = 0
m =0
h =len(a)-1

while m <= h:
  # if mid ==0 and increment mid and low and swap mid and low
  if a[m] == 0:
    a[l],a[m] = a[m],a[l]
    l = l+1
    m =m+1
  elif a[m]==1:
    # if mid ==1 then increment mid only
    m = m+1
  else:
    # if mid ==2 , then decrease right/high
    a[m],a[h] = a[h],a[m]
    h =h-1

print(a,l,m,h)

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2] 5 10 9

# Moore's Voting Algorithm and Majority element greater than N/2

In [ ]:
# Occurence will cancel them selves
a  = [2,0,2,1,1,0,2,0,1,2,0,2,1,0,2,1,2,2]

count =0
for i in range(len(a)):
  # when count ==0 , change ele and start incrementing count
  if count==0:
    count=1
    ele = a[i]
  elif ele == a[i]:
    count = count+1
  else:
    count= count-1
print(count,ele)

2 2

# Kadane's Algorithm : Maximum Subarray Sum in an Array

In [ ]:
count =0
for i in a:
  sum  =  sum + a[i]
  if sum <0 :
    sum  =0
  elif (sum >0) and (sum > max):
    max = sum
    tend = i
    tstart = start
  elif sum =0:
    start =i

In [ ]:
a = [-2,1,-3,4,-1,2,1,-5,4]
max = -11000000
sum = 0
start = 0
tstart =-1
tend =-1
for i in range(len(a)):
  if sum == 0:
      start = i
  sum =  sum+ a[i]
  if (sum > max):
    max = sum
    tstart = start
    tend = i
  if (sum <0):
    sum = 0

print(tstart,start,tend)

3 3 6

# Stock Buy and Sell

In [ ]:
a  = [7,1,5,3,6,4,10,0,4,2,0]
mini = 100000000
maxi = -100000000
for i in range(len(a)-1):

  mini =  min(mini,a[i])
  maxi = max(maxi,a[i] - mini)

print(maxi,mini)

9 0

# Rearrange Array Elements by Sign

In [ ]:
a = [1,2,-4,-5]
neg = 1
pos= 0
b = [0,0,0,0]
for i in range(len(a)):
  if (pos <= len(a)) and (neg <= len(a)):
    if a[i] < 0:
      b[neg] = a[i]
      neg = neg+2
    else:
      b[pos] = a[i]
      pos = pos+2

[1, -4, 2, -5]

# Rotate a Image by 90 Degrees

In [ ]:
# transpose a Matrix
a[i,j], a[j,i] = a[j,i], a[i,j]

[]

# Leaders in an array

In [ ]:
def leaders(a):
  leaders = []
  max = -1000000000
  n = len(a) -1
  for i in range(n-2,0,-1):

    if a[i] > max:
      max = a[i]
      leaders.append(a[i])
  return leaders[::-1][0]

print(leaders([10,22,12,3,0,6]))
print(leaders([4,7,1,0]))

[22, 12, 3]
[7]

# Count Subarray Sum equals to K

In [ ]:
def subarraySum(a,k):
  n= len(a) -1
  count =0
  for i in range(n):
    sum =0
    for j in range(i,n):

      sum+= a[j]
      if sum ==  k:
        count+=1
  return count

subarraySum([3,1,2,4],4)

1

# Longest Consecutive Sequence in an array

In [ ]:
def longestconsecutivesequence(a):
  n = len(a) -1
  if n==0:
    return 0
  a.sort()
  prev = -10000000
  count =0
  longest =1

  for i in range(n):
    if (a[i]-1) == prev:
      count +=1
      prev = a[i]
    else:
      count =1
      prev = a[i]
    longest = max(longest,count)

  return longest

print(longestconsecutivesequence([100,200,1,3,2,4]))
print(longestconsecutivesequence([3,8,5,7,6]))
print(longestconsecutivesequence([3,5,4,1,8,7]))

4
3
3

# Spiral of a Matrix

In [ ]:
def spiralmatrix(a):
  n = a.shape[0]
  top = 0
  left  = 0
  bottom  = n-1
  right = n-1
  output = []
  while (top<=bottom) and (left <=right):

    for i in range(left, right+1):
      output.append(a[top][i])
    top +=1

    for j in range(top, bottom+1):
      output.append(a[j][right])

    right -=1

    if top <=bottom:
      for i in range(right,left-1,-1):
        output.append(a[bottom][i])

      bottom -=1

    if left <= right:
      for i in range(bottom,top-1,-1):
        output.append(a[i][left])

      left +=1

  return output

import numpy as np
a=np.array(
    [[1,2,3],
    [4,5,6],
    [7,8,9]]
)

spiralmatrix(a)

3

[1, 2, 3, 6, 9, 8, 7, 4, 5]

# 3-SUm problem

In [ ]:
def triplet(a):

  l_a = list(set(a))
  n = len(a) -1
  o = []
  for i in range(n):
    for j in range(i+1,n):

      if -(a[i] + a[j]) in l_a:
        o.append([a[i],a[j],-(a[i] + a[j])])
  return o

print(triplet([-1,0,1,2,-1,-4]))

[[-1, 0, 1], [-1, 1, 0], [-1, 2, -1], [-1, -1, 2], [0, 1, -1], [0, -1, 1], [1, -1, 0], [2, -1, -1]]

# Longest substring without repeating characters

In [ ]:
def substring(a):
  l=0
  r=0
  maxlen =0
  dict_1 = {}
  n = len(a) -1
  while(r<n):
    if (a[r] in list(dict_1.keys())) and (dict_1[a[r]] >=l):
      l = dict_1[a[r]] +1

    length = r-l+1
    maxlen = max(length,maxlen)
    dict_1[a[r]] = r
    r+=1

  return maxlen,l,r

print(substring('nithinmundrathi'))
print(substring('lasya'))

(8, 6, 14)
(4, 0, 4)

# Max Consecutive One's

In [ ]:
def consecutiveOne(a,k):
  left =0
  right = 0
  zeros =0
  n = len(a)-1
  length =0
  maxlen = 0
  while(right < n):
    if a[right] == 0:
      zeros +=1
    while (zeros>k):
      if (a[left] ==0):
        zeros -=1
      left +=1
    if zeros <= k:
      length = right-left+1
      maxlen = max(length,maxlen)
    right +=1
  return maxlen,left,right

consecutiveOne([1,1,1,0,0,0,1,1,1,1,0],2)

(6, 4, 10)

In [ ]:
def consecutiveOnes(a,k):
  left =0
  right =0
  zeros =0
  n = len(a) -1
  length =0
  maxlen =0

  while (right <n):
    if (a[right] ==0):
      zeros +=1
    if (zeros >k):
      if a[left] ==0:
        zeros -=1
      left +=1
    elif (zeros <=k):
      length = right -left+1
      maxlen = max(length,maxlen)
    right +=1

  return maxlen,left,right

consecutiveOnes([1,0,1,1,0,1,0,0,1],2)

(6, 2, 8)

# Fruits into Baskets

In [2]:
def fruitbaskets(a,k):
  left =0
  right =0
  dict_1 = {}
  n = len(a) -1
  length =0
  maxlen =0

  while (right <n):
    if (a[right] not in list(dict_1.keys())):
      dict_1[a[right]] =1
    else:
      dict_1[a[right]] +=1

    if (len(dict_1.keys()) >k):
      dict_1[a[left]] -= 1
      if dict_1[a[left]] ==0:
        del dict_1[a[left]]
      left +=1
    elif (len(dict_1.keys()) <=k):
      length = right -left+1
      maxlen = max(length,maxlen)
    right +=1

  return maxlen,left,right

fruitbaskets([3,3,3,1,2,1,1,2,3,3,4],2)

(5, 5, 10)

# Binary Subarray with  Sum

In [7]:
def binarySubarray(a,k):
  left =0
  right =0
  sum =0
  count =0
  n = len(a) -1
  while (right <= n):
    sum += a[right]

    while sum > k:
      sum = sum - a[left]
      left +=1
    count = count + right -left+1
    right +=1
  return count

a= [1,0,1,0,1]
binarySubarray(a,2) - binarySubarray(a,1)

4